# Week 3 - Exercises - Pandas Essentials - codingwatchcity

## Contents
1. Data lab notebooks
1. Series
1. Dataframes

## 1. Data lab notebooks

This week we will work on the following two notebooks from the [/Data Lab notebooks/Python/Libraries/pandas/Essentials](https://bentley.cloud.databricks.com/#notebook/552282) folder on Databricks:
- [1.0 Series](https://bentley.cloud.databricks.com/#notebook/89774/command/89775)
- Intro similar to DataFrame similar to that for Series
- [1.1 Indexing & Selecting data](https://bentley.cloud.databricks.com/#notebook/561178)

Please work through and understand __both of the notebooks__ linked above.
We will work these notebooks during class. 

All code from these notebooks may be asked about in the interviews.

In later weeks we will work on notebooks from the following list (but they are not due this week):
- [1.2 Single table verbs](https://bentley.cloud.databricks.com/#notebook/89954/command/89955)
- [1.3 Basics visualizationwith iris](https://bentley.cloud.databricks.com/#notebook/568588/command/568589)
- [1.4 Read data files](https://bentley.cloud.databricks.com/#notebook/569001)
- [1.5 Summarization and grouping](https://bentley.cloud.databricks.com/#notebook/89650)
- [1.6 Pivot table](https://bentley.cloud.databricks.com/#notebook/89637/command/89638)
- [1.7  Concatenate dataframes](https://bentley.cloud.databricks.com/#notebook/167780/command/167781)

Complete the exercises below in this notebook.

## 2. Series

**Interpretation:**   
Use 'import' function to load pandas and numpy libraries.

In [7]:
%python
import pandas  as pd
import numpy as np

__1. Exercise:__ Create the following series and store them in the indicated variable:
- Create in `countries` a series with at least five names of countries 
- Create in `primes` a series with the prime numbers less than `20` 
- Create in `million` a series with all numbers greater than zero and less than or equal to `1000000`

__Interpretaion:__    
1) Code:
- Create Series object `countries`, the contents in `countries` include: US,China, Japan, UK, France.

2) Output:   
- A seriers with numerical index and 5 elements.

In [10]:
%python
countries=pd.Series(['US','China','Japan','UK','France'])
countries

__Interpretaion:__    
1) Code:
- Create Series object `primes`, the contents in `primes` include:2,3,5,7,11,13,17,19

2) Output:   
- A series with numerical index and 8 elements.

In [12]:
%python
primes=pd.Series([2,3,5,7,11,13,17,19])
primes

In [13]:
%python
#Explore 
import pandas as pd
import numpy as np

list1=[]
for x in range(2,20):
    if all(x % i!= 0 for i in range (2,x)):
      list1.append(x)
list1
primes = pd.Series(list1)
primes

__Interpretaion:__    
1) Code:
- Create Series object `million` for a range, which is greater than 0 and equal or less than 1000000.

2ï¼‰Output:
- A series with numerical index and 1000000 elements, which are integers ranging from 1 to 1000000.

In [15]:
%python
million =pd.Series(range(1,1000001))
million

__2. Exercise:__ use the `count` method and the `len` function to display the number of elements in `countries`

__Interpretaion:__    
1) Code:
- Use **"count"** method to count the elements in countries, which returns to be 5.
- Use **"len"** function to count the elements in countries, which returns to be 5.

2) Output:   
- Both functions retrieve the number of elements in `countries` series, which is 5.

In [18]:
%python
import pandas as pd
countries=pd.Series(['US','China','Japan','UK','France'])
print("count method:", countries.count())
print("len function:",  len(countries))

__3. Exercise:__ display the datatype of each series

__Interpretaion:__   
1) Code:
- Use **dtype** method to check the type of `countries` series, which returns to be object.
- Use **dtype** method to check the type of `primes` series, which returns to be int64.
- Use **dtype** to check the type of `million` series, which returns to be int64.

2) Output:  
- The datatype of the three series return to be object, int64 and int64.

In [21]:
%python
print("datatype of countries:", countries.dtype)
print("datatype of primes:", primes.dtype)
print("datatype of million:", million.dtype)

__4. Exercise:__ return the values of the `primes` series as a numpy array

__Interpretation:__     
1) Code:
- Use **'values'** attribute of Series to convert the values of Series into a 1-dimensional numpy array.

2) Output:  
- A numpy array with 8 elements.

In [24]:
%python
print(primes.values)

__5. Exercise:__ return the sum of the values in `primes`

**Interpretation:**   
1) Code:
- method 1: Use the method **'sum()''** on the `primes` series to return the sume of the values in `primes`.
- method 2: Use numpy function **'numpy.sum()'**.

2) Output:   
- Both the method and function return the sum of the values in `primes`, which is 77.

In [27]:
%python
print("method 1:",primes.sum())
print("method 2:",np.sum(primes))

__6. Exercise:__ return the average of the values in `million`

**Interpretation:**   
1) Code:
- Use **'mean()'** method on the `million` series to return the average of the values in `million`

2) Output:   
- The mean of `million` returns to be 500000.5.

In [30]:
%python
million.mean()

__7. Exercise:__ create a numeric series with a character index in `months`, where:
- the series has twelve non-zero elements
- the index has the three letter month codes in chronological order and in lower case (as a string)

__Interpretation:__   
1) Code:
- Use **pd.Series** function to create a series. 
- Use **np.random.randint** to retrive a numpy array including 12 random integers between 1 and 15, which is used in the series as data pramater. 
- Use **index** to define the index of the series, which is a list of strings (three letter month codes).
- Index should be the same length as data.

2) Output:   
- character indexed series with 12 values.

In [33]:
%python
months = pd.Series(np.random.randint(1,15,12),index=['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'])
print(months)

__8. Exercise:__ retrieve the following from the Series in `months` using the index:
1. The value corresponding to February, using square brackets 
1. The value corresponding to February, using the `iloc` method
1. The value corresponding to February, using the `loc` method
1. The Series of values for April, August and October, using the `loc` method
1. The Series with values that are greater than the mean of the `months` series

__Interpretation:__
1. The value can be retrived by using a series name followed by an index label value inside square brackets
1. The **'iloc'** attributes take integer index value to retrieve elements
1. The **'loc'** attributes take index label to retrive elements
1. To retrieve multiple elements, the colon operator between index label is added. Both endpoints are included.
1. **'months[:]>months.mean()'** returns a series containing booleans: 'True' if the coresponding number is greater than the mean value, False otherwise. Next use this boolean Series inside square brackets to do subsetting. Only elements in `months` that are above mean value (the corresponding boolean value is True) are selected.

__Output:__   
- 1/2/3 pruduce the same output, which is the value corresponding to February.   
- 4 Return a new character indexed series, which has 3 values for 'April','Aguest' and 'October'.   
- 5 Ruturn a new character indexed series, which returns rows with values that are greater than the mean of the `month` series.

In [36]:
%python
#1
print(months['feb'])
#2
print(months.iloc[1])
#3
print(months.loc['feb'])
#4
print(months.loc[['apr','aug','oct']])
#5
print(months[months[:]>months.mean()])

## 3. Dataframes

__9. Exercise:__ create a dataframe with:
- five rows 
- a character column called `country` containing the names of five countries
- a numeric column called `population` containing the recent populations of these countries
- a boolean column called `island` which is `True` only if the country is an island 
- at least one island country and one country that is not an island

Display the dataframe after creating it.

**Interpretation:**   
1) Code:
- **'pd.DataFrame()'** function is used to create dataframe from dictionary `data`. 
- Each element of the dictionary is a column in dataframe. Dictionary keys are columns labels.

2) Output:   
- A dataframe with numerical indexes and three columns.

In [40]:
%python import pandas as pd
country_info = pd.DataFrame(data={'country':['usa','can','aus','uk','rus'],'population': [3, 4, 5, 4, 6], 'island':[False, False, True, True, False]})
print(country_info)

__10. Exercise:__ retrieve the country column:
- as a Series
- as a single column Dataframe

**Interpretation:**   
1) Code:
- Series: Use a dataframe (`country_info`) followed by a column label (`country`) inside square brackets
- Dataframe: Use a dataframe (`country_info`) followed by a column label (`country`) inside double square brackets   

2) Output:
1. A series with numerical index and 5 values.
2. A single column dataframe with numerical index.

In [43]:
%python
as_series = country_info['country']       
as_dataframe = country_info[['country']]
print(as_series)
print(as_dataframe)

__11. Exercise:__ retrieve, using `loc`, a dataframe that contains only the country name and population of the countries that are not islands.

**Interpretation:**   
1) Code:
- The first element inside the loc[ ] is the label of row to be returned. Operator "==" sets the criteria on this selection. 
- The second element inside the loc[ ] is lables of columns to be returned.

2) Output:   
- A new dataframe with numerical index, 3 rows and 2 columns.
- The dataframe has two column named `country` and `population` and only rows in which the value of `island` is False.

In [46]:
%python
not_island = country_info.loc[country_info['island']==False,['country','population']]
print(not_island)

__12. Exercise:__ create a list comprehension to return a list of 100 random numbers

__Interpretation:__   
1) Code
- np.random.randint() is a numpy function used to generate 100 random integers in a array from 1 to 100. List comprehension return a list that contains the value from the array generated by the np.random.randint(). 

2) Output:    
- A list with 100 random integers.

In [49]:
%python
[x for x in np.random.randint(1,100,100)]

__13. Exercise:__ create a dataframe, named `datetime_df`, with:
- `168`, which equals `7*24`, rows and two columns, named `col_a` and `col_b`
- both columns contain random numbers (Use a function from the `random` library to create the random numbers)

Display the first 3 lines using the `head` method.

**Interpretation:**   
1) Code:   
- **'pd.DataFrame()'** function creates a 2-D dataframe `datetime_df`, which has 2 columns and 168 rows, naming the column name as 'col_a' and 'col_b' at the same time.
- the **'np.random.randint'** function generates random integers to fill in the dataframe as defined by the **size** parameter.
- **'head()'** method returns first 3 lines of the dataframe

2) Output:   
- A dataframe with numerical index, 3 rows and 2 columns.

In [52]:
%python
import pandas as pd
import numpy as np
datetime_df = pd.DataFrame(data= np.random.randint(0,24,size=(168,2)),
                          columns=['col_a','col_b'])
datetime_df.head(3)

__14. Exercise:__ retreive the mean of both columns:
- as a series
- individually

**Interpretation:**   
1) Code:   
- Use **'mean()'** method to calculate the mean of each column in `datetime_df`; the results are stored in a series.
- Use **'loc[]'** method to retrieve rows and columned mentioned in the squared bracket. **':'** means all rows are selected. Then aplly **'mean()** method on column to calculate the mean of each column. In this way, the two individually results can be obtained.

2) Output:
- 1: Return a series with chareter index and 2 rows.
- 2: Return two numpy float64 object of each column separately.

In [55]:
%python
#As a Series
datetime_df.mean()

In [56]:
%python
#individually
print(datetime_df.loc[:,'col_a'].mean()) 
print(datetime_df.loc[:,'col_b'].mean())

__15. Exercise:__ create four versions of the dataframe as above (in four code cells) with a datetime index using the following parameters:
1. `start`, `end`, and `periods`
1. `start`, `end`, and `freq`
1. `start`, `periods`, and `freq`
1. `end`, `periods`, and `freq`

Each cell should store the dataframe it creates in `datetime_df`. The last line of each cell should be `(datetime_df.head(3), datetime_df.tail(3))`.

__Interpretation:__   
1) Code:
- Create a timestamp `start_datetime` and `end_datetime` using the **"to_datetime"** function. The function converts its argument to datetime, and a format argument is passed to indicate the format of the string to be converted into a datetime value.
- Create dataframe as above, and use the **"date_range"** function to return a fixed frequency DatetimeIndex. Exactly three of the four parameters `start`, `end`, `periods`, and `freq` must be specified. Three of parameters have to be used for indexes. `Periods` determines the number of period , and `freq` determines which measurement(Year,Month,Day,Hour,Minutes) to use as the interval.
- **'head(3)'** and **'tail(3)'** methods are used to show the first and last three rows of the dataframe.

2) Output:     
- Return two new dataframes. Both contains 3 rows and 2 coloumns, and have the time indexes.

In [59]:
%python
#1
start_datetime= pd.to_datetime('201901010000', format = '%Y%m%d%H%M')
end_datetime = pd.to_datetime('201907230000', format = '%Y%m%d%H%M')
datetime_df = pd.DataFrame(data= np.random.randint(0,24,size=(168,2)),
                          columns=['col_a','col_b'],
                          index = pd.date_range(start=start_datetime, end=end_datetime, periods=168))

datetime_df.head(3), datetime_df.tail(3)

In [60]:
%python
#2
start_datetime= pd.to_datetime('201901010000', format = '%Y%m%d%H%M')
end_datetime = pd.to_datetime('201901072300', format = '%Y%m%d%H%M')
datetime_df = pd.DataFrame(data= np.random.randint(0,24,size=(168,2)),
                          columns=['col_a','col_b'],
                          index = pd.date_range(start_datetime, end_datetime, freq = 'H'))
datetime_df.head(3), datetime_df.tail(3)

In [61]:
%python
#3
start_datetime= pd.to_datetime('201901010000', format = '%Y%m%d%H%M')
end_datetime = pd.to_datetime('201901072300', format = '%Y%m%d%H%M')
datetime_df = pd.DataFrame(data= np.random.randint(0,24,size=(168,2)),
                          columns=['col_a','col_b'],
                          index = pd.date_range(start_datetime, periods=168, freq = 'H'))
datetime_df.head(3), datetime_df.tail(3)

In [62]:
%python
#4
start_datetime= pd.to_datetime('201901010000', format = '%Y%m%d%H%M')
end_datetime = pd.to_datetime('201901072300', format = '%Y%m%d%H%M')
datetime_df = pd.DataFrame(data= np.random.randint(0,24,size=(168,2)),
                          columns=['col_a','col_b'],
                          index = pd.date_range(end=end_datetime,periods=168,freq='H'))
datetime_df.head(3), datetime_df.tail(3)

__The End__